<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ja">
  <head
    th:replace="common/common :: head_fragment(title='ユーザー新規登録')"
  ></head>

  <body>
    <header></header>
    <main>
      <div class="container">
        <header>
          <h1>ユーザー新規登録</h1>
        </header>

        <section>
          <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger" th:text="${error}"></label>
          </div>

          <form
            action=""
            th:action="@{/users}"
            th:object="${userRequest}"
            th:method="post"
          >
            <div class="form-group">
              <label>名前：<span class="text-danger">※</span></label>
              <input type="text" th:field="*{name}" class="form-control" />
            </div>

            <div class="form-group">
              <label>住所：</label>
              <input type="text" th:field="*{address}" class="form-control" />
            </div>

            <div class="form-group">
              <label>電話番号：<span class="text-danger">※</span></label>
              <input type="text" th:field="*{phone}" class="form-control" />
            </div>

            <br />

            <div class="text-center">
              <a href="/users" class="btn btn-secondary">キャンセル</a>
              <input type="submit" value="　登録　" class="btn btn-primary" />
            </div>
          </form>
        </section>
      </div>
      <!-- /.container -->
    </main>
    <footer></footer>
  </body>
</html>
